@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Mulish", sans-serif;
}

.main-container{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid aquamarine;

}
.btn-primary{
    background: #FF5400;
    padding: 15px 25px ;
    border: 0;
    border-radius: 7px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right a{
    text-decoration: none;
    margin-left: 45px;
}
.banner{
    height: 500px;
    background-image: linear-gradient(180deg, #060607 0%, rgba(19, 4, 47, 0) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-top{
    margin-top: 150px;
    text-align: center;
}
.banner-heading{
    color: #FFF;
    margin-bottom: 15px;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-des{
    color: #FFF;
    padding: 0 250px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.banner-bottom{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 25px 35px;
    background: rgba(134, 134, 134, 0.494);
    /* opacity: 0.5; */
    border-radius: 7px;
}
.banner-bottom > input{
    border: 0;
    outline: none;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #ffffff;
    color: red;
    z-index: 10;
}
.banner-bottom > input > .banner-btn{
    background-color: #FF5400; !important
}
.info-container{
    height: 550px;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 50px;
    justify-content: space-between;
}
.info-heading{
    margin-top: 0;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.info-left ul{
    margin-top: 55px;
}
.info-des, ul li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.des1, .des2{
    margin-top: 64px;
}
.places{
    margin-top: 60px;
}
.place-content{
    padding: 0px 200px;
    padding-bottom: 35px;
    text-align: center;
}
.img-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.img-box{
    position: relative;

}
.img-box img {
    width: 100%;
    height: 100%;

}
.img-box h2{
    position: absolute;
    color: #ffffff;
    top: 40%;
    left: 40%;

}
.box1{
    width: 570px;
    height: 300px;
    /* background: hotpink; */
}
.box2{
    width: 570px;
    height: 300px;
    /* background: #000; */
}
.box3{
    width: 370px;
    height: 300px;
    /* background: #621515; */
}
.box4{
    width: 470px;
    height: 300px;
    /* background: #3a054f; */
    
}
.box5{
    width: 270px;
    height: 300px;
    /* background: #8c6902; */
}
.box6{
    width: 470px;
    height: 300px;
    /* background: #03723a; */
}
.box7{
    width: 670px;
    height: 300px;
    /* background: #220164; */
}
.testimonial{
    margin-top: 60px;
}
.testimonial-top{
    padding: 0px 200px;
    padding-bottom: 35px;
    text-align: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.cards{
    width: 570px;
    height: 280px;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card1{
    background: rgba(251, 181, 99, 0.05)
}
.card2{
    background: rgba(41, 206, 246, 0.05)
}
.card3{
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.video{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}
.content-area{
    box-sizing: border-box;
    width: 50%;
}
.video-area{
    width: 50%;
}
.newsletter{
    margin-top: 60px;
    display: flex;
    gap: 80px;
}
.news-left{
    display: block;
}
hr{
    /* width: 80%; */
    text-align: left;
}
.subscribe{
    width: 400px;
}
.subscribe > input{
    display: block;
    width: 300px;
    padding: 20px;
    margin: 15px;
    margin-left: 0;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #a9a9a937;
}
.news-btn{
    width: 100%;
    background: #880c0c;
    color: #ffffff;
    padding: 0px 20px;
}
.news-right{
    position: relative;
}
.news-right > img{
    width: 100%;
}
.save{
    text-align: center;
    padding: 15px 35px;
    background-color: tomato;
    position: absolute;
    top: 50%;
    left:40%;
}



/* style for Mobile devices */
@media screen and (max-width: 600px) {
    .banner-top{
        margin-top: 80px;
    }
    .banner-heading{
        margin-bottom: 15px;
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }
    .banner-des{
        color: #FFF;
        padding: 0 30px;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }
    .banner-bottom{
        margin: 0px auto;
        max-width: 90%;
        padding: 10px 20px;
        align-items: center;
    }
    .banner-bottom > input{
        display: block;
        margin: 15px;
        /* margin-top: 40px; */
        /* max-width: 100%; */
        /* padding: 0 20px; */
    }
    .info-container{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .info-left{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .info-right{
        width: 100%;
    }
    .info-heading{
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .info-des, ul li{
        color: #5A5A5D;

        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        }
    .info-right > img{
        width: 100%;
        border-radius: 11px;
    }
    .info-left ul, .des1, .des2{
        margin-top: 10px;
    }
    .place-content{
        padding: 0px 20px;
        padding-bottom: 15px;
        text-align: center;
    }
    .img-container{
        flex-direction: column;
        gap: 5px;
    }
    .img-box{
        width: 100%;
    
    }
    .card-container{
        flex-direction: column;
        gap: 20px;
    }
    .testimonial-top{
        padding: 0px 40px;
        padding-bottom: 35px;
        text-align: center;
    }
    .cards{
        width: 100%;
        border-radius: 15px;
    }
    .video{
        flex-direction: column;
    }
    .content-area{
        box-sizing: border-box;
        padding:15px;
        width: 100%;
    }
    .video-area{
        width: 100%;
    }

}


